https://realpython.com/pandas-merge-join-and-concat/

In [6]:
# what do we do if library doesn't exist??
!pip install faker
!pip install pandas

Requirement already satisfied: faker in c:\users\srash\anaconda3\lib\site-packages (8.13.2)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\srash\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: text-unidecode==1.3 in c:\users\srash\anaconda3\lib\site-packages (from faker) (1.3)
Requirement already satisfied: six>=1.5 in c:\users\srash\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Collecting pandas
  Downloading pandas-1.3.3-cp38-cp38-win_amd64.whl (10.2 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\srash\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\srash\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\srash\anaconda3\lib\site-packages (from pandas) (1.21.2)
Requirement already satisfied: six>=1.5 in c:\users\srash\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.3.3

In [10]:
from faker import Faker
import pandas as pd
import random

In [9]:
f = Faker()

df1 = pd.DataFrame({
    'id': ['st_' + str(i) for i in range(0, 20)],
    'name': [f.name() for _ in range(0,20)],
    'email' : [f.email() for _ in range(0,20)]
})

In [11]:
df1

       id                    name                        email
0    st_0            Steven Lucas  daviesbrittany@mcclure.info
1    st_1      Jennifer Rodriguez         zraymond@hotmail.com
2    st_2             Tracy Moore           anna01@murillo.org
3    st_3           Tiffany Brown    dawn73@taylor-sanchez.com
4    st_4               Ryan Lane       medinadavid@garcia.com
5    st_5             Ivan Nelson              vpatton@day.net
6    st_6              Jamie Ross              rberg@gmail.com
7    st_7         Crystal Johnson         xbullock@holland.net
8    st_8          Tabitha Thomas         orrjames@hotmail.com
9    st_9       Katrina Whitehead     kylewashington@gmail.com
10  st_10            Paul Nichols        moodyhunter@yahoo.com
11  st_11           Virginia Kent   angela46@clark-francis.net
12  st_12             Riley Villa         narmstrong@yahoo.com
13  st_13            Wayne Romero    michellemcguire@gmail.com
14  st_14             Steve Davis     scotthopkins@hotmail.com
15  st_15  Mr. Maurice Murphy Jr.        wilsondevon@gmail.com
16  st_16          Jennifer White          amanda72@graham.com
17  st_17           Carolyn Ayala       staceywalker@yahoo.com
18  st_18            Kevin Sparks      johnstonmario@green.org
19  st_19           Brady Wallace          ngonzalez@yahoo.com

In [5]:
count = 25

df2 = pd.DataFrame({
    'studentId': ['st_' + str(i) for i in range(5, count)],
    'grade1': [random.randint(50, 100) for _ in range(5,count)],
    'grade2': [random.randint(50, 100) for _ in range(5,count)],
    'grade3': [random.randint(50, 100) for _ in range(5,count)],
})

In [12]:
df2

   studentId  grade1  grade2  grade3
0       st_5      91      82      73
1       st_6      93      73      90
2       st_7      98      55      98
3       st_8      51      55      71
4       st_9      92      85      66
5      st_10      76      70      87
6      st_11      68      51      58
7      st_12      50      74      68
8      st_13      76      50      66
9      st_14      85      82      98
10     st_15      76      69      60
11     st_16      66      50      68
12     st_17      97      81      84
13     st_18      61      70      68
14     st_19      68      95      83
15     st_20      92      81      87
16     st_21      67      69      72
17     st_22      75      69      86
18     st_23      75      50      58
19     st_24      63      85      62

## Merge `df1` and `df2`: if students exist in both data frames

In [14]:
df_merged = pd.merge(df1,df2,how = "inner", left_on = "id", right_on = "studentId")
df_merged

,id,name,email,studentId,grade1,grade2,grade3
0,st_5,Ivan Nelson,vpatton@day.net,st_5,91,82,73
1,st_6,Jamie Ross,rberg@gmail.com,st_6,93,73,90
2,st_7,Crystal Johnson,xbullock@holland.net,st_7,98,55,98
3,st_8,Tabitha Thomas,orrjames@hotmail.com,st_8,51,55,71
4,st_9,Katrina Whitehead,kylewashington@gmail.com,st_9,92,85,66
5,st_10,Paul Nichols,moodyhunter@yahoo.com,st_10,76,70,87
6,st_11,Virginia Kent,angela46@clark-francis.net,st_11,68,51,58
7,st_12,Riley Villa,narmstrong@yahoo.com,st_12,50,74,68
8,st_13,Wayne Romero,michellemcguire@gmail.com,st_13,76,50,66
9,st_14,Steve Davis,scotthopkins@hotmail.com,st_14,85,82,98
10,st_15,Mr. Maurice Murphy Jr.,wilsondevon@gmail.com,st_15,76,69,60
11,st_16,Jennifer White,amanda72@graham.com,st_16,66,50,68
12,st_17,Carolyn Ayala,staceywalker@yahoo.com,st_17,97,81,84
13,st_18,Kevin Sparks,johnstonmario@green.org,st_18,61,70,68
14,st_19,Brady Wallace,ngonzalez@yahoo.com,st_19,68,95,83

## Merge `df1` and `df2`: get all students from `df1` and get from `df2` if student exists on `df2`

In [15]:
df_merged = pd.merge(df1,df2,how = "left", left_on = "id", right_on = "studentId")
df_merged

,id,name,email,studentId,grade1,grade2,grade3
0,st_0,Steven Lucas,daviesbrittany@mcclure.info,NaN,NaN,NaN,NaN
1,st_1,Jennifer Rodriguez,zraymond@hotmail.com,NaN,NaN,NaN,NaN
2,st_2,Tracy Moore,anna01@murillo.org,NaN,NaN,NaN,NaN
3,st_3,Tiffany Brown,dawn73@taylor-sanchez.com,NaN,NaN,NaN,NaN
4,st_4,Ryan Lane,medinadavid@garcia.com,NaN,NaN,NaN,NaN
5,st_5,Ivan Nelson,vpatton@day.net,st_5,91.0,82.0,73.0
6,st_6,Jamie Ross,rberg@gmail.com,st_6,93.0,73.0,90.0
7,st_7,Crystal Johnson,xbullock@holland.net,st_7,98.0,55.0,98.0
8,st_8,Tabitha Thomas,orrjames@hotmail.com,st_8,51.0,55.0,71.0
9,st_9,Katrina Whitehead,kylewashington@gmail.com,st_9,92.0,85.0,66.0
10,st_10,Paul Nichols,moodyhunter@yahoo.com,st_10,76.0,70.0,87.0
11,st_11,Virginia Kent,angela46@clark-francis.net,st_11,68.0,51.0,58.0
12,st_12,Riley Villa,narmstrong@yahoo.com,st_12,50.0,74.0,68.0
13,st_13,Wayne Romero,michellemcguire@gmail.com,st_13,76.0,50.0,66.0
14,st_14,Steve Davis,scotthopkins@hotmail.com,st_14,85.0,82.0,98.0
15,st_15,Mr. Maurice Murphy Jr.,wilsondevon@gmail.com,st_15,76.0,69.0,60.0
16,st_16,Jennifer White,amanda72@graham.com,st_16,66.0,50.0,68.0
17,st_17,Carolyn Ayala,staceywalker@yahoo.com,st_17,97.0,81.0,84.0
18,st_18,Kevin Sparks,johnstonmario@green.org,st_18,61.0,70.0,68.0
19,st_19,Brady Wallace,ngonzalez@yahoo.com,st_19,68.0,95.0,83.0

## Merge `df1` and `df2`: get all students from `df2` and get from `df1` if student exists on `df1`

In [16]:
df_merged = pd.merge(df1,df2,how = "right", left_on = "id", right_on = "studentId")
df_merged

,id,name,email,studentId,grade1,grade2,grade3
0,st_5,Ivan Nelson,vpatton@day.net,st_5,91,82,73
1,st_6,Jamie Ross,rberg@gmail.com,st_6,93,73,90
2,st_7,Crystal Johnson,xbullock@holland.net,st_7,98,55,98
3,st_8,Tabitha Thomas,orrjames@hotmail.com,st_8,51,55,71
4,st_9,Katrina Whitehead,kylewashington@gmail.com,st_9,92,85,66
5,st_10,Paul Nichols,moodyhunter@yahoo.com,st_10,76,70,87
6,st_11,Virginia Kent,angela46@clark-francis.net,st_11,68,51,58
7,st_12,Riley Villa,narmstrong@yahoo.com,st_12,50,74,68
8,st_13,Wayne Romero,michellemcguire@gmail.com,st_13,76,50,66
9,st_14,Steve Davis,scotthopkins@hotmail.com,st_14,85,82,98
10,st_15,Mr. Maurice Murphy Jr.,wilsondevon@gmail.com,st_15,76,69,60
11,st_16,Jennifer White,amanda72@graham.com,st_16,66,50,68
12,st_17,Carolyn Ayala,staceywalker@yahoo.com,st_17,97,81,84
13,st_18,Kevin Sparks,johnstonmario@green.org,st_18,61,70,68
14,st_19,Brady Wallace,ngonzalez@yahoo.com,st_19,68,95,83
15,NaN,NaN,NaN,st_20,92,81,87
16,NaN,NaN,NaN,st_21,67,69,72
17,NaN,NaN,NaN,st_22,75,69,86
18,NaN,NaN,NaN,st_23,75,50,58
19,NaN,NaN,NaN,st_24,63,85,62

## Merge `df1` and `df2`: get both records

In [17]:
df_merged = pd.merge(df1,df2,how = "outer", left_on = "id", right_on = "studentId")
df_merged

,id,name,email,studentId,grade1,grade2,grade3
0,st_0,Steven Lucas,daviesbrittany@mcclure.info,NaN,NaN,NaN,NaN
1,st_1,Jennifer Rodriguez,zraymond@hotmail.com,NaN,NaN,NaN,NaN
2,st_2,Tracy Moore,anna01@murillo.org,NaN,NaN,NaN,NaN
3,st_3,Tiffany Brown,dawn73@taylor-sanchez.com,NaN,NaN,NaN,NaN
4,st_4,Ryan Lane,medinadavid@garcia.com,NaN,NaN,NaN,NaN
5,st_5,Ivan Nelson,vpatton@day.net,st_5,91.0,82.0,73.0
6,st_6,Jamie Ross,rberg@gmail.com,st_6,93.0,73.0,90.0
7,st_7,Crystal Johnson,xbullock@holland.net,st_7,98.0,55.0,98.0
8,st_8,Tabitha Thomas,orrjames@hotmail.com,st_8,51.0,55.0,71.0
9,st_9,Katrina Whitehead,kylewashington@gmail.com,st_9,92.0,85.0,66.0
10,st_10,Paul Nichols,moodyhunter@yahoo.com,st_10,76.0,70.0,87.0
11,st_11,Virginia Kent,angela46@clark-francis.net,st_11,68.0,51.0,58.0
12,st_12,Riley Villa,narmstrong@yahoo.com,st_12,50.0,74.0,68.0
13,st_13,Wayne Romero,michellemcguire@gmail.com,st_13,76.0,50.0,66.0
14,st_14,Steve Davis,scotthopkins@hotmail.com,st_14,85.0,82.0,98.0
15,st_15,Mr. Maurice Murphy Jr.,wilsondevon@gmail.com,st_15,76.0,69.0,60.0
16,st_16,Jennifer White,amanda72@graham.com,st_16,66.0,50.0,68.0
17,st_17,Carolyn Ayala,staceywalker@yahoo.com,st_17,97.0,81.0,84.0
18,st_18,Kevin Sparks,johnstonmario@green.org,st_18,61.0,70.0,68.0
19,st_19,Brady Wallace,ngonzalez@yahoo.com,st_19,68.0,95.0,83.0
20,NaN,NaN,NaN,st_20,92.0,81.0,87.0
21,NaN,NaN,NaN,st_21,67.0,69.0,72.0
22,NaN,NaN,NaN,st_22,75.0,69.0,86.0
23,NaN,NaN,NaN,st_23,75.0,50.0,58.0
24,NaN,NaN,NaN,st_24,63.0,85.0,62.0